@using NewLetter.Models;

<html lang="en">
@{ bool isAuthenticated = BaseUtil.IsAuthenticated();
    var roleID = BaseUtil.RoleID();
    var userID = BaseUtil.GetSessionValue(AdminInfo.UserID.ToString());
    var fullName = BaseUtil.GetSessionValue(AdminInfo.FullName.ToString());
    var companyname = BaseUtil.GetSessionValue(AdminInfo.companyname.ToString());
    var logo = BaseUtil.GetSessionValue(AdminInfo.logo.ToString());
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Auxo - Employer</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    <script src="~/Scripts/nicEdit-latest.js"></script>

  
	<style>
		.form-horizontal.middle-text.full-page {
			max-width: 65%;
			height:70vh;
		}
		.thankyou-btns.login-btn input {
			margin: 0;
		}
		.thankyou-btns.login-btn {
			text-align: right;
		}
	</style>
</head>
<body>
    <div class="container-fluid padding-none">
        <div class="col-lg-12 padding-none">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
                <div class="col-md-4 col-sm-4 col-xs-4 common-logo-block half-width">
                    <div class="common-logo-main"><img src="~/images/auxo-inner.png" alt="Auxo"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4 common-qe-logo-block half-width">
                    <div class="common-logo-main"><img src="~/images/qendidate-inner.png" alt="QeNdidate"></div>
                </div>
               
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12 common-qe-logo-block">
                <div class="col-md-12 common-right-block">
                    <!--<div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src="~/images/user-img.jpg" alt="img"></span><span class="common-user-loggedin-name">@fullName</span></div>
                    <div class="common-user-loggedin common-logo-main"><span class="common-user-loggedin-pic"><img src="~/images/Dummy-Text-Featured.jpg" alt="img" style="width:35px"></span><span class="common-user-loggedin-comp">@companyname</span></div>-->
                    <div class="thankyou-btns login-btn">
						<input type="button" name="Previous" class="previous action-button" value="Login" onclick="location.href='https://spotaneedle.com/'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding-none gry">
        <div class="row-eq-height">
            <div class="col-md-12 col-sm-12 col-xs-12 padding-none right-form-panel">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var jqOld = jQuery.noConflict();
        jqOld(document).ready(function () {
            function setHeight() {
                windowHeight = jqOld(window).innerHeight();
                jqOld('.left-nav').css('min-height', windowHeight);
            };
            setHeight();

            jqOld(window).resize(function () {
                setHeight();
            });
        });

    </script>

    <script type="text/javascript">
        debugger
var jqOld = jQuery.noConflict();
        jqOld(document).ready(function() {
            jqOld('#myDataTable').DataTable();
        } );
    </script>
</body>
@RenderSection("head", required: false)
</html>






<script>

     var jold = jQuery.noConflict();

    debugger
    jold(document).ready(function () {
        debugger
        jold('.datepicker').datepicker({
            dateFormat: 'mm/dd/yy'  // CHANGE DATE FORMAT.
        });
    });
</script>
