@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/CustomStyle.css"> <!-- Resource style -->
    <script src="~/Scripts/modernizr-2.6.2.js"></script> <!-- Modernizr -->
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <title>qendidate</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
    <div class="container-main">

        <div class="top">
            <div class="container">
                <div class="top-link"><img src="~/images/logo.png" width="154" height="39"></div>
                <div class="top-icon">
                    <ul>
                        <li><a href="https://www.facebook.com/Qendidate.hcm" target="_blank"><img src="~/images/icon1.png" width="48" height="48"></a></li>
                        <li><a href="https://twitter.com/Qendidatehcm" target="_blank"><img src="~/images/icon2.png" width="48" height="48"></a></li>
                        <li><a href="https://www.linkedin.com/in/qendidate-hcm-2760a8146/" target="_blank"><img src="~/images/icon3.png" width="48" height="48"></a></li>
                        <li><a href="#"><img src="~/images/icon4.png" width="48" height="48"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box"><img src="~/images/box.png"></div>
        <div class="top footer-main">

            <div class="container">
                <div class="footer-logo">
                    <ul>
                        <li><img src="~/images/spot-logo.png" width="174" height="95"></li>
                        <li><img src="~/images/auxo.png" width="174" height="95"></li>
                        <li><img src="~/images/orion.png" width="174" height="95"></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
    <div id="boxes">
        <div style="top: 199.5px; left: 551.5px; display: none;" id="dialog" class="window">
            <div id="lorem">
                <p>Thank you for choosing Orion. Please find your downloaded CV and kindly visit our portals to know more</p>
            </div>
            <div id="popupfoot">    <div id="popupfoot"> <a href="#" class="close action-button-1">Ok</a> </div></div>
        </div>
        <div style="width: 1478px; font-size: 32pt; color:white; height: 602px; display: none; opacity: 0.8;" id="mask"></div>
    </div>
    <script type="text/javascript" src="/Content/main.js"></script>
    <link rel="stylesheet" href="/Content/main.css">
</body>
</html>
