@using NewLetter.Models;
@{
    ViewBag.Title = "VerifyDetails";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
    var emailV = BaseUtil.GetSessionValue(AdminInfo.emailVerified.ToString());
    var phoneV = BaseUtil.GetSessionValue(AdminInfo.mobileVerified.ToString());
    var phone = BaseUtil.GetSessionValue(AdminInfo.Mobile.ToString());
    var emailID = BaseUtil.GetSessionValue(AdminInfo.LoginID.ToString());
}
<div class="form-horizontal details-verification verifed_text_bg_white_main_bg">
<h4>Verify Details</h4>

	<div class="col-md-12 text-center">
	@{
		if (emailV == "False")
		{
		<p class="emailnotverified">
			Dear Candidate, verified profiles are first to be picked up by employers. Verified Profiles are marked separately while your details are being displayed.
			Please click on resend button and activate your profile by clicking on the link in the email.
		</p>
		<input type="button" class="previous btn btn-default action-button" value="Resend Activation Email" onclick="return resendActivationEmail();" id="resendEmailer" />		
		<label style="display:none;" id="emailResendResult"></label>
		
		}
	}

	@{
		if (phoneV == "False")
		{
		<p class="emailnotverified">
			Dear Candidate, verified profiles are first to be picked up by employers. Verified Profiles are marked separately while your details are being displayed.
			Please enter the OTP received on your phone to verify your phone number. In case you have not received , please click on the resend OTP button.
		</p>
		
		<input type="button" class="previous btn btn-default action-button" value="Resend OTP" onclick="return resendOTP();" id="resend" />
		
		<label style="display:none" id="otpverificationresult"></label>
		<div>
		<input style="margin:12px 0 12px 0px;" type="text" id="OTP" class="form-control verify-input" name="txt_OTP" />
		</div>
		<div>
		<input type="submit" class="previous btn btn-default action-button" onclick="return verifyOTP();" value="Submit OTP" id="otpSubmit" name="Verify" />
		</div>
		
		}
	}

	@{ 
		if(emailV == "True" && phoneV == "True")
		{
			<div>Thank You, all details are verified</div>
		}
	}
	</div>
</div>

<script>
    debugger
    function resendOTP() {
        var email = '@emailID';
        var phone = '@phone';
        $.ajax({
            url: '/Account/resendOTP',
            type: 'POST',
            data: { 'email': email, 'phone': phone },
            success: function (data) {
                if (data == 'OK') {
                    debugger
                    var x = document.getElementById("otpverificationresult");
                    x.style.display = "inline-block";
                    x.innerHTML = "OTP SENT"
                }
                if (data == 'notsent') {
                    var x = document.getElementById("otpverificationresult");
                    x.style.display = "inline-block";
                    x.innerHTML = "Error in sending. Please resend again"
                }

            }
        });
    }
</script>
<script>
    debugger
    function resendActivationEmail() {
        debugger 
        $.ajax({
            url: '/profile/resendActivationEmail',
            type: 'POST',            
            success: function (data) {
                if (data == 'Sent') {
                    debugger
                    var x = document.getElementById("emailResendResult");
                    x.style.display = "inline-block";
                    x.innerHTML = "Verification Email sent. "
                }               

            }
        });
    }
</script>
<script>
    debugger
    function verifyOTP() {
        var OTP = document.getElementById("OTP").value;
        debugger
        $.ajax({
            url: '/profile/verifyOTP',
            data: { 'OTP': OTP },
            type: 'POST',
            success: function (data) {
                if (data == 'Verified') {
                    debugger                  

                        bootbox.alert({
                            title: "Confirmation !",
                            message: ' <p>Phone number successfully verified</p>'
                        });
                }
                if (data == 'NotVerified') {
                    debugger

                    bootbox.alert({
                        title: "Alert !",
                        message: ' <p>Please try again</p>'
                    });
                }

            }
        });
    }
</script>