@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

@{ var refID = ""; if (TempData["refID"] != null) { refID = TempData["refID"].ToString(); }
    var jobURL = (dynamic)null;
    if (TempData["jobURL"] != null)
    {
        jobURL = TempData["jobURL"].ToString();
    }
   }
   <div class="form-horizontal full-page">
		<fieldset>
			<h2 class="thankyou-title">Thank You.</h2><br />
			<h2 class="thankyou-title-2">Job Posted successfully.</h2><br />
			<div class="thankyou-btns">
				@{if (refID != "")
					{
						<input type="button" name="Previous" class="previous action-button" value="Post New Job" onclick="location.href='@Url.Action("NewJob", "jobDetails", new { refID = refID})'" />
					}
					else
					{
						<input type="button" name="Previous" class="previous action-button" value="Post New Job" onclick="location.href='@Url.Action("NewJob", "jobDetails")'" />
					}
				}
			   
				<input type="submit" name="Next" class="next action-button" value="Search Resume" id="btnnext" onclick="location.href='#'"/>
				@{ if (jobURL != null)
					{
						<div> Job URL : @jobURL </div>
					}
				}
			</div>
		</fieldset>
	</div>