@{
    ViewBag.Title = "submitInterest";
    Layout = "~/Views/Shared/_Layout_external_Employer.cshtml";
}
<div class="form-horizontal middle-text full-page">
	<fieldset>
		<h2 class="thankyou-title">Thank you for showing your Interest.</h2>
		<h2 class="thankyou-title-2">You will soon receive an email to schedule your Test.</h2>
	</fieldset>
</div>
