
@{
    ViewBag.Title = "submitInterest";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}

<h2>submitInterest</h2>
<p>Thank you for showing intetrest in tyhe job</p>
<p>An email has been sent for your test schedule </p>\
<p> IF you want to update your profile , please click here </p>

