
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}
<script type="text/javascript">
    var jqOld = jQuery.noConflict();
    debugger

    jqOld.fn.serializeObject = function () {

        var o = {};
        var a = this.serializeArray();
        jqOld.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    debugger
    function adResult() {
        debugger
        var form = jqOld("#msform").serializeObject();
        

        debugger
        jqOld.ajax({
            url: 'http://localhost:51126/Admin/AdvertisementList/advertisementResult',
            type: 'POST',
            data:{'frm' :form  },
            success: function (data) {
                debugger
                jqOld("#viewResult").html(data);
            }
        });
    }

    debugger
    function nextVal (index)
        {
        debugger
        var form = jqOld("#msform").serializeObject();
        var id = index;

        debugger
        jqOld.ajax({
            url: 'http://localhost:51126/Admin/AdvertisementList/advertisementResult',
            type: 'POST',
            data:{'frm' :form  },
            success: function (data) {
                debugger
                jqOld("#viewResult").html("");
                jqOld("#viewResult").html(data);
            }
        });
        }

    debugger
    jqOld(document).ready(function () {
        debugger
        jqOld("#viewResult").load('@Url.Action("_partialAdvertisementList", "AdvertisementList")')
    });
</script>

<h2>Index</h2>
<body>
    @using (Html.BeginForm("advertisementResult", "AdvertisementList", FormMethod.Post, new { id = "msform" }))
    {
        <div class="row">
            <div class="col-sm-2" style="background-color:#eef; padding:5px">

                <input type="date" value="" name="fromdate" id="txtStartDate" placeholder="From Date" onchange="return DateCheck();"/>
            </div>

            <div class="col-sm-2" style="background-color:#eef; padding:5px">
                <input type="date" value="" id="txtEndDate" name="todate" placeholder="To Date" onchange="return DateCheck();"/>
            </div>


            <div class="col-sm-2" style="background-color:#eef; padding:5px">
                <input type="button" name="search" class="previous action-button" value="Search" onclick="return adResult();" />

            </div>
        </div>
    }
    <div id="viewResult">

    </div>


</body> 

