
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
     <div class="form-horizontal pageSetup">
        <div class="row">
       
      <div class="col-sm-6 col-sm-offset-2"> 
          <img src="/img/page_not_found.gif" />    
       </div>
       </div>
         </div>
    </div>



