

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Employer.cshtml";
}
@{
    int PageCount = Convert.ToInt32(ViewBag.count);
    int CurrentPageIndex = Convert.ToInt32(ViewBag.currindex);
}

<script type="text/javascript">
    var jqOld = jQuery.noConflict();
    debugger

    jqOld.fn.serializeObject = function () {

        var o = {};
        var a = this.serializeArray();
        jqOld.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    debugger
    function candidateResult() {
        debugger
        var form = jqOld("#msform").serializeObject();
        var id = document.getElementById("hfCurrentPageIndex").value;

        debugger
        jqOld.ajax({
            url: 'http://localhost:51126/Admin/Skills/skillsResultList',
            type: 'POST',
            data:{'currentPageIndex' :id ,'frm' :form  },
            success: function (data) {
                debugger
                jqOld("#viewResult").html(data);
            }
        });
    }

    debugger
    function nextVal (index)
        {
        debugger
        var form = jqOld("#msform").serializeObject();
        var id = index;

        debugger
        jqOld.ajax({
            url: 'http://localhost:51126/Admin/Skills/skillsResultList',
            type: 'POST',
            data:{'currentPageIndex' :id ,'frm' :form  },
            success: function (data) {
                debugger
                jqOld("#viewResult").html("");
                jqOld("#viewResult").html(data);
            }
        });
        }

    debugger
    jqOld(document).ready(function () {
        debugger
        jqOld("#viewResult").load('@Url.Action("_partialSkillsResultList", "Skills")')
    });
</script>
<body>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Skills", FormMethod.Post, new { id = "msform" }))
{
    <div class="row">       
        <div class="col-sm-2" style="background-color:#eef; padding:5px">
            <input type="text" value="" id="companyname" name="name" placeholder="Skill Name" />
        </div>     
        <div class="col-sm-2" style="background-color:#eef; padding:5px">
            <label>Is Active Yes</label>
            <input type="radio" value="1" id="radio2" name="isActive" placeholder="Modified  By" />
        </div>
        <div class="col-sm-2" style="background-color:#eef; padding:5px">
            <label>Is Active No</label>
            <input type="radio" value="0" id="radio4" name="isActive" placeholder="Modified  By" />
        </div>

        <div class="col-sm-2" style="background-color:#eef; padding:5px">
            <input type="button" name="search" class="previous action-button" value="Search" onclick="return candidateResult();" />

        </div>
    </div>
    
           

    }
    <div id="viewResult">

    </div>

    </body>
